<footer class="bg--dark">
    <div class="container">
        <div class="content__footer flex--between">
            <a href="https://www.ifspcaraguatatuba.edu.br/" target="_blank">
                <img style="width: 250px;" src="../../frontend/assets/img/ifspcaraguatatuba.png" alt="Logo IFSP Caraguatatuba">
            </a>
            <nav class="footer__nav flex--column">
                <a href="/">Centro de Pesquisa e Inovação em Cidades Inteligentes e Sustentáveis</a>
                <a class="link__center" href="https://mail.google.com/mail/?view=cm&fs=1&to=cepin.cis@ifspcaraguatatuba.edu.br" target="_blank">
                    <ion-icon class="ion-icon f--18" name="mail"></ion-icon> cepin.cis@ifspcaraguatatuba.edu.br
                </a>
            </nav>
        </div>

        <hr>

        <div class="footer__bottom flex--center">
            <p class="f--14">&copy; CEPIN-CIS 2025 - Todos os direitos reservados <!--Desenvolvido por <a
                    href="https://github.com/hyanferreira" target="_blank">Hyan Ferreira</a>.--></p>
        </div>
    </div>
</footer>