<header>
    <nav class="navbar bg--dark">
        <div class="container flex--between">
            <a class="navbar__brand item--center" href="../../frontend/index.html">CEPIN-CIS</a>
            <ul class="navbar__nav" id="navbar-nav">
                <li class="nav__item">
                    <a class="nav__link" href="../../frontend/pages/about.html">Sobre</a>
                </li>
                <li class="nav__item dropdown">
                    <a class="nav__link flex--gap--6" href="../../frontend/pages/thematic-areas.html">Área Temáticas
                        <ion-icon class="ion__icon f--20" name="caret-down-outline"></ion-icon></a>
                    <ul class="dropdown__menu">
                        <li>
                            <a class="dropdown__item" href="../../frontend/pages/posts.html?tag=iot">[IoT]</a>
                        </li>
                        <li>
                            <a class="dropdown__item"
                                href="../../frontend/pages/posts.html?tag=carbonzero">[CarbonZero]</a>
                        </li>
                        <li>
                            <a class="dropdown__item" href="../../frontend/pages/posts.html?tag=urbsmart">[UrbSmart]</a>
                        </li>
                        <li>
                            <a class="dropdown__item" href="../../frontend/pages/posts.html?tag=ecomat">[EcoMat]</a>
                        </li>
                        <li>
                            <a class="dropdown__item" href="../../frontend/pages/posts.html?tag=educis">[eduCIS]</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="../../frontend/pages/production.html">Produção</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="../../frontend/pages/contact.html">Contato</a>
                </li>
            </ul>
            <div class="navbar__toggle" id="navbar-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
</header>